<h1>Welcome to InspireMe</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>To Display your favorite quote, fill this form</p>           
            <app-form (onsubmit) = 'submitQuote($event)'></app-form>
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div *ngFor= 'let creator of quoteCreator'>
                            <p>{{creator.quotemsg}} </p>
                            <p>-{{creator.author }} </p> 
                            <app-quote-detail></app-quote-detail>                   
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div *ngFor= 'let creator of quoteCreator'>
                            <p>{{creator.quotemsg}} </p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


